@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,500&family=Roboto:wght@400;500;700&display=swap");

:root {
  --max-width: 1024px;

  /* Colors */
  --primary-green: #3a9034;
  --primary-green-light: #53bb50;
  --primary-blue: #1979be;

  --pufi-grey: #d9d9d9;
  --pufi-grey-light: #f2f2f2;
  --pufi-grey-dark: #a8a8a8;

  --pufi-black: #333333;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans";
  line-height: 1.5 !important;
  background-color: var(--pufi-grey-light);
}
