/* Clinician css: TODO convert to styled components  */
/* utility css classes */
body {
  margin: 0;
  font-family: "RobotoRegular", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.each-client-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-item {
  flex: 1;
  text-align: center;
  padding: 5px;
}

.flex-item-wide {
  flex: 2;
  text-align: center;
  padding: 5px;
}

.search-add-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px; /* Add some spacing between the search box and the button */
}

.add-client-btn {
  color: #53bb50;
  background-color: #fff;
  border: 1px solid #53bb50;
  width: 120px;
  height: 30px;
  font-size: 16px;
}

.del-client-btn {
  color: red;
  background-color: #fff;
  border: 1px solid red;
  width: 120px;
  height: 30px;
  font-size: 16px;
}

/* display message for successful addition of patient id(Client Assessment) or deletion of survey records(View Assessment) */
.display-message {
  color: #53bb50;
  margin-top: 25px;
}

.ls-none {
  list-style: none;
  padding: 0;
}

/* bg green color white */
.bg-g-c-w {
  background-color: #53bb50;
  color: #fff;
}

/* margins */
.m-0 {
  margin: 0;
}

.mt-12 {
  margin-top: 0.8rem;
}

.ml-5 {
  margin-left: 5rem;
}

.ml-1 {
  margin-left: 1rem;
}

/* font size */
.heading-text {
  font-size: 2.5rem;
}

.s-heading-text {
  font-size: 2rem;
}

.m-text {
  font-size: 1.5rem;
}

.text {
  font-size: 1rem;
}

.s-text {
  font-size: 0.8rem;
}

/* text style */
.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.cp {
  cursor: pointer;
}

.td-u {
  text-decoration: underline;
}

/* border top green */
.bt-g {
  border-top: 1px solid #53bb50;
}

/* ======================================  HOMEPAGE CSS ================================== */
/* doc - doctor/clinician */
.doc-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.doc-header .navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu p:hover {
  color: #21a364;
}

.doc-btn {
  border: none;
  box-shadow: none;
  border-radius: 8px;
  padding: 0.5rem 2rem;
}

.sidebar-content-wrapper {
  display: flex;
  margin-top: 1.5rem;
}

/* Sidebar */
.doc-sidebar {
  border-right: 1px solid #53bb50;
  padding: 0 2rem;
  min-height: 707px;
  width: 15%;
}

.doc-sidebar .sidebar-head {
  margin-bottom: 1.5rem;
}

.doc-sidebar .sidebar-options .list-item {
  padding: 0.5rem 1.5rem;
}

.doc-sidebar .sidebar-options .sub-list-heading {
  padding: 0.5rem 1.5rem;
}

.doc-sidebar .sidebar-options .sub-list-item {
  padding: 0.5rem 3rem;
}

/* Notifications */
.doc-notifications {
  margin-left: 3rem;
  width: 30rem;
}

.doc-notifications .heading {
  margin-bottom: 1.5rem;
}

.doc-notifications .notification-wrapper {
  display: flex;
  border: 1px solid #c4c4c4;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  padding: 10px;
  min-height: 4rem;
}

.doc-notifications .notification-wrapper .notify-text {
  width: 60%;
}

.doc-notifications .notification-wrapper .timestamp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.doc-notifications .notification-wrapper .timestamp .view {
  color: #656565;
}

.close {
  background: #c4c4c4;
  border-radius: 50%;
  padding: 2px;
}

/* ======================================  LANDING PAGE CSS ================================== */
.doc-content-wrapper {
  padding: 5rem 10rem 3.5rem 2.5rem;
}

.pufi-wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.pufi {
  width: 40%;
}

.pufi .pufi-heading {
  color: #53bb50;
  margin-bottom: 2rem;
}

.pufi-img {
  width: 60%;
  padding: 3rem;
}

.pufi-img img {
  width: 584px;
  height: 544px;
}

/* ======================================  CLIENT ASSESSMENTS CSS ================================== */
.client-assessments-wrapper {
  width: 75%;
  padding: 0px 3rem 0 4rem;
}

.chart-heading-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.downloadCSVBtn,
.downloadCSVBtn:hover,
.downloadCSVByClientBtn,
.downloadCSVByClientBtn:hover {
  margin-right: 4rem !important;
  float: right;
  text-transform: none !important;
  background-color: #53bb50 !important;
  font-weight: bold !important;
}

.downloadCSVByClientBtn,
.downloadCSVByClientBtn:hover {
  margin-right: 0px !important;
}

.client-assessments-wrapper .heading {
  color: #21a364;
  font-size: 1.3rem;
  margin: 0.25rem 0 0.25rem 0;
}

.client-assessments-wrapper .search-client {
  width: 15rem;
  height: 2rem;
  padding-left: 1rem;
  border: 1px solid #c4c4c4;
  color: #000000;
  font-size: 1rem;
}

.client-assessments-wrapper .all-clients-heading {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.client-assessments-wrapper .each-client-wrapper {
  border: 1px solid #c4c4c4;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.client-assessments-wrapper .each-client-wrapper .color-green {
  color: #21a364;
}

a.color-green:visited {
  color: #21a364;
}

.no-data-text {
  text-align: center;
  margin-top: 3rem;
}

.client-assessments-wrapper .each-client-wrapper .color-red {
  color: red;
}

.chartReference {
  width: 93%;
  border: 1px solid lightgray;
  padding: 1rem;
}

/* ======================================  ABOUT PAGE CSS ================================== */
.pufi-header {
  min-height: 7rem;
  padding: 1.5rem;
}

.doc-about-content-wrapper {
  padding: 3.5rem 5rem;
}

.evaluate-ready-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 4.5rem;
}

.evaluate-ready-wrapper .evaluate {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 1.5rem;
  margin-right: 5rem;
  width: 45%;
}

.evaluate-ready-wrapper .evaluate .evaluate-heading {
  color: #21a364;
}

.evaluate-ready-wrapper .ready {
  width: 50%;
}

.evaluate-ready-wrapper .ready .health-care-box {
  width: 42%;
  margin: 2rem auto 0;
  border-radius: 8px;
  padding: 1.5rem 1rem;
}

.evaluate-text {
  margin-top: 1rem;
}

.ques-ans-wrapper .ques-wrapper {
  display: flex;
  margin-bottom: 5rem;
}

.what-is-pufi-wrapper {
  width: 85%;
}

.ques-ans-wrapper .ques-wrapper.what-is-pufi {
  display: block;
  margin-bottom: 3.5rem;
}

.ques-ans-wrapper .ques-wrapper.what-is-pufi .ques {
  margin-bottom: 0.5rem;
  width: 100%;
}

.ques-ans-wrapper .ques-wrapper.what-is-pufi .ans {
  width: 100%;
  margin-left: 1rem;
}

.ques-ans-wrapper .ques-wrapper .ques {
  width: 30%;
  color: #21a364;
  padding: 1rem;
}

.ques-ans-wrapper .ques-wrapper .ans {
  width: 70%;
}

.color-green {
  color: #21a364;
}

a.color-green:visited {
  color: #21a364;
}


