.main {
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(196, 196, 196, 0.25);
  max-width: 900px;
  margin: 1em auto;
  padding: 1em 1em 2em 1em;
  background-color: rgb(216, 216, 216);
}
.main .pros {
  margin-bottom: -20px;
}

.main .paracl {
  margin-top: -20px;
}
